<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rachmad.training.dicodingstoryapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DicodingStoryApp"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAoTKuZJkyuOGzcUlLSvNUbH13Iqjuq5to" />

        <activity
            android:name=".ui.story.detail.StoryDetailMapsActivity"
            android:exported="false"
            android:label="StoryDetailMapsActivity"
            android:theme="@style/AppThemeMaterial.NoActionBar" />
        <activity
            android:name=".ui.story.add.CameraActivity"
            android:exported="false"
            android:theme="@style/AppThemeMaterial.NoActionBar" />
        <activity
            android:name=".ui.story.add.NewStoryActivity"
            android:exported="false"
            android:theme="@style/AppThemeMaterial.NoActionBar" />
        <activity
            android:name=".ui.story.detail.StoryDetailsActivity"
            android:exported="false"
            android:theme="@style/AppThemeMaterial.NoActionBar" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false"
            android:theme="@style/AppThemeMaterial.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:theme="@style/AppThemeMaterial.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.story.MainActivity"
            android:exported="true" />
    </application>

</manifest>